.certificates__container{
    background-color: var(--color-background-variant);  
    padding: 2rem;
    border-radius: 2rem;
}



.certificate_container{
    float: left;
    width: 50%;
    padding: 7px;
    
}

.certificates__container::after {
    content: "";
    clear: both;
    display: table;
  }
